@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cormorant Unicase';
  src: url('./fonts/CormorantUnicase-SemiBold.ttf');
}

.slide {
  display: flex;
  justify-content: center;
}

.dot {
  background-color: black !important;
}

.carousel-slider {
  overflow: visible !important;
}

.control-dots {
  bottom: -3rem !important;
}
